@import "../../globalStyles/variables";
@import "../../globalStyles/mixins";

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  @include flexBox(center, center);
  z-index: -1;
  transition: z-index 2s step-end;

  &.active {
    z-index: 10;
    transition: z-index 2s step-start;

    .circle {
      transform: scale(20);
      top: -30vh;
      right: -30vw;
      transition-duration: 2s;
    }
    ul {
      opacity: 1;
    }
  }

  .circle {
    background: $color1;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: -50vh;
    right: -50vw;
    transition-duration: 2s;
    transform: scale(1);
    z-index: 1;
  }

  ul {
    @include flexBox(space-between, center);
    flex-direction: column;
    height: 50%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    opacity: 0;
    position: relative;
    z-index: 2;
    transition: all 0.5s 0.5s;

    li {
      font-size: 2.6rem;
      letter-spacing: 0.1em;
      color: $color3;

      a {
        color: inherit;
        text-decoration: none;
        transition: color 100ms ease;

        &:hover {
          color: white;
          border-bottom: 2px solid white;
        }
      }
    }
  }
}
