@keyframes myBounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(25px);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(240px);
    top: -15px;
    right: 5px;
  }
  66% {
    transform: translateX(480px);
    top: -15px;
    right: 5px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(660px);
    top: -20px;
    right: 5px;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  100% {
    transform: rotate(-360deg);
  }
}
