@import "./variables";

@mixin flexBox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin boxShadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin borderRadius(
  $topLeft,
  $topRight: $topLeft,
  $bottomRight: $topLeft,
  $bottomLeft: $topLeft
) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin mediaMax($breakpoint) {
  @media (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin mediaMin($breakpoint) {
  @media (min-width: #{$breakpoint}) {
    @content;
  }
}
