@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

//Fonts
$mainFont: "Poppins", sans-serif;
$headlineFont: "Poppins", sans-serif;

//Colors
$background: #dbc7fa;
$color1: #ff806d;
$color2: #45358a;
$color3: #f5c2c2;

//Breakpoints
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$smPhone: 320px;
