@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

//Fonts
$mainFont: "Poppins", sans-serif;
$headlineFont: "Poppins", sans-serif;

//Colors
$color1: #ff806d;
$color2: #4d29af;
$color3: #ffc5c5;

//Breakpoints
$fourK: 2560px;
$desktop: 1441px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$smPhone: 320px;
