@import "../../globalStyles/mixins";
@import "../../globalStyles/variables";
@import "../../globalStyles/animations";

.about {
  box-sizing: border-box;
  position: relative;
  @include flexBox(center, center);
  flex-direction: column;
  padding: 3em;
  padding-top: 90px;
  transition: all 500ms ease;

  &.active {
    .bottomBox {
      height: 30vh;

      .divider {
        bottom: 29vh;
      }
    }

    .content {
      opacity: 1;

      h2 {
        letter-spacing: 0.2em;
      }
    }
  }

  .bottomBox {
    transition: all 1s ease-out;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 21vh;
    width: 100vw;
    background: $color2;
    @include flexBox(center, flex-start);

    .divider {
      z-index: 0;
      position: absolute;
      bottom: 20vh;
      left: 0;
      width: 100vw;
      height: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      transition: all 1s ease-out;

      svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
        fill: #45358a;
      }
    }
  }

  .content {
    @include mediaMax($tablet) {
      width: 90%;
    }
    @include flexBox(space-between, flex-start);
    flex-wrap: wrap;
    opacity: 0;
    z-index: 1;
    font-weight: 600;
    padding: 2em;
    width: 70%;
    min-height: 65%;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    @include borderRadius(3px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: all 500ms ease-out;

    h2 {
      position: relative;
      width: 100%;
      text-align: center;
      letter-spacing: 0.7em;
      transition: letter-spacing 800ms ease;
    }

    h3,
    h2 {
      margin-bottom: 0.2em;
    }

    .cv {
      display: inline-block;
      margin-top: 0.1em;
      background-color: white;
      color: $color1;
      text-decoration: none;
      padding: 0.5em;
      @include borderRadius(3px);
      transition: all 200ms ease;

      &:hover {
        transform: scale(1.03);
        color: white;
        background-color: $color1;
      }

      &:active {
        transform: scale(0.98);
      }
    }

    p {
      text-align: justify;
      margin: 0.8em 0;

      a {
        text-decoration: none;
        color: $color1;
        margin: 0 6px;
        transition: color 200ms ease;

        &:hover {
          border-bottom: 2px solid $color1;
          transform: scale(2);
        }
      }
    }

    .left,
    .right {
      width: 48%;
    }

    .skills {
      .learning {
        display: flex;

        .dotdotdot {
          position: relative;
          @include flexBox(center, flex-end);
          margin: 1em 0.4em;

          @include mediaMin($tablet) {
            .dot {
              margin: 0px 2.5px;
              position: relative;
              aspect-ratio: 1/1;
              background: white;
              display: inline-block;
              border-radius: 50%;
              right: 0;
              bottom: 0;
              color: transparent;
              width: 4px;
              height: 4px;
              animation: jump 1.3s infinite;

              &:first-of-type {
                animation-delay: 100ms;
              }

              &:nth-of-type(2) {
                animation-delay: 200ms;
              }
              &:nth-of-type(3) {
                animation-delay: 300ms;
              }
            }
          }
        }
      }
    }
  }
}

.skillsOrbit {
  @include mediaMax($phone) {
    display: none;
  }
  position: absolute;
  right: -20vh;
  top: 10vh;
  z-index: 0;

  .orbit {
    position: relative;
    @include flexBox(center, center);
    z-index: 0;

    .axis {
      box-sizing: border-box;
      position: relative;
      border: 4px dotted white;
      border-radius: 50%;
      @include flexBox(center, center);
      width: 85vh;
      height: 85vh;
      animation: 300s spin linear infinite;

      .axis {
        box-sizing: border-box;
        width: 60vh;
        height: 60vh;
        animation: 200s spin linear infinite;

        .axis {
          box-sizing: border-box;
          width: 30vh;
          height: 30vh;
          animation: 100s spin linear infinite;
        }
      }

      .logoWrapper {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: min-content;
        transform: rotate(25deg);
        animation: 300s reverseSpin linear infinite;

        .logo {
          position: relative;
          z-index: 9;
          width: 50px;
          height: 50px;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            fill: $color2;
          }

          span {
            position: absolute;
            display: inline-block;
            right: 6px;
            top: 8px;
            height: 18px;
            width: 18px;
            margin-bottom: 6px;
            background-color: $color3;
            border-radius: 50%;
          }
        }
      }
    }

    .axis2 {
      box-sizing: border-box;
      position: absolute;
      border: 4px dotted $color3;
      border-radius: 50%;
      @include flexBox(center, center);
      width: 20vh;
      height: 20vh;
      left: -13%;
      animation: 60s reverseSpin linear infinite;

      img {
        &:first-of-type {
          animation: 60s spin linear infinite;
        }
      }
    }

    .icon {
      position: absolute;
      bottom: -7%;

      &.html {
        bottom: -10%;
      }
    }
    .subIcon {
      position: absolute;
      bottom: -20%;
    }
  }
  img {
    max-height: 40px;
    width: auto;
  }
}
@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 3px;
  }
  40% {
    bottom: 0px;
  }
}
